a:link {  
    color:purple;  
}
h1, h2 {  
color: darkblue;  
}
p strong {  
color: darkred;  
}
body {
background-color: whitesmoke;
margin: 0 10%;
font-size: medium;
font-family:Cambria,Georgia,"Book Antiqua",serif
}